.home {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    // background-color: turquoise;

    .hero {
        width: 900px;
        height: 300px;
        margin: 0 auto;


        img {
            width: 900px;
            height: 500px;
            object-fit: cover;
            object-position: center;
            z-index: 0;
        }

        .callout {
            width: 250px;
            height: 120px;
            background-color: #008b8b75;
            border-radius: 20px;
            z-index: 1;
            margin-left: 325px;
            margin-top: -325px;
            position: absolute;

            h1 {
                font-family: fantasy;
                font-size: 45px;
                text-align: center;
                z-index: 1;
            }
        }

    }
}